.container {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.categoria {
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
  width: 25vw;
}

.conteudo {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  width: 80vw;
}

.row {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%;
}
