/* div{
    border: 1px solid red;
} */

.container{
    display: flex;
    
}

.categoria{
    border: 1px solid black;
    width: 25vw;
    margin-left: 20px;

}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;

}
.texto-central{
    text-align: center;
}